In [1]:
import pandas as pd
merged_stats = pd.read_csv("NCAA Merged Statistics 2020-21.csv")
easy_stats = pd.read_csv("NCAA Condensed Statistics 2020-21.csv")
seed_pm = pd.read_csv("./csv_files/NCAA Statistics 2020-21 Seeding_Placement.csv")

In [2]:
seed_pm.head()

   Seed       Team Conference  Overall rank Berth type  Placement
0     1    Gonzaga        WCC             1  Automatic          2
1     2       Iowa    Big Ten             7   At-Large         32
2     3     Kansas     Big 12            12   At-Large         32
3     4   Virginia        ACC            16   At-Large         64
4     5  Creighton   Big East            17   At-Large         16

In [3]:
seed_pm["Team"]=seed_pm["Team"]+ " "+"(" + seed_pm["Conference"]+")"
seed_pm=seed_pm.drop(columns=["Conference"])

In [4]:
full_stats = merged_stats.merge(seed_pm,how= 'outer')
full_stats = full_stats.fillna('DNP')
full_stats

,Team,Games,Wins,Losses,Win Pct,PPG,OPP PPG,SCR MAR,RPG,OPP RPG,...,TO,TOPG,AST/TO Ratio,OPP 3FGAPG,OPP 3FGPG,OPP 3FG%,Seed,Overall rank,Berth type,Placement
0,Gonzaga (WCC),32,31,1,96.9,91.0,69.7,21.3,37.2,30.3,...,385,12.03,1.56,20.72,6.78,32.7,1.0,1.0,Automatic,2.0
1,Baylor (Big 12),30,28,2,93.3,82.9,65.5,17.4,36.0,31.7,...,345,11.50,1.47,18.77,6.17,32.9,1.0,2.0,At-Large,1.0
2,Winthrop (Big South),25,23,2,92.0,78.9,67.0,11.8,40.1,31.4,...,350,14.00,1.07,20.40,6.60,32.4,12.0,49.0,Automatic,64.0
3,Houston (AAC),32,28,4,87.5,76.1,58.2,17.8,40.5,31.5,...,341,10.66,1.31,19.53,5.66,29.0,2.0,8.0,Automatic,4.0
4,Colgate (Patriot),16,14,2,87.5,85.2,69.6,15.6,39.9,35.1,...,173,10.81,1.63,23.00,6.06,26.4,14.0,57.0,Automatic,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,Iowa St. (Big 12),24,2,22,8.3,65.6,76.7,-11.1,31.6,38.0,...,358,14.92,0.78,20.08,6.63,33.0,DNP,DNP,DNP,DNP
336,Mississippi Val. (SWAC),24,2,22,8.3,56.8,87.4,-30.5,31.2,45.3,...,429,17.88,0.62,24.08,8.63,35.8,DNP,DNP,DNP,DNP
337,South Carolina St. (MEAC),18,1,17,5.6,61.2,78.6,-17.3,31.3,38.8,...,312,17.33,0.57,20.89,7.44,35.6,DNP,DNP,DNP,DNP
338,Idaho (Big Sky),22,1,21,4.5,61.0,76.5,-15.4,29.9,34.2,...,360,16.36,0.74,20.77,7.91,38.1,DNP,DNP,DNP,DNP
339,Chicago St. (WAC),9,0,9,0.0,55.4,88.7,-33.2,26.0,42.4,...,140,15.56,0.64,22.78,9.00,39.5,DNP,DNP,DNP,DNP

In [5]:
full_stats.insert(0,"Year",2021)
full_stats.insert(2,"Power 5 School","False")
full_stats.loc[(full_stats['Team'].str.contains('Big 12|SEC|ACC|Big Ten|Pac-12', regex = True)),'Power 5 School'] = 'True'
full_stats.head()

,Year,Team,Power 5 School,Games,Wins,Losses,Win Pct,PPG,OPP PPG,SCR MAR,...,TO,TOPG,AST/TO Ratio,OPP 3FGAPG,OPP 3FGPG,OPP 3FG%,Seed,Overall rank,Berth type,Placement
0,2021,Gonzaga (WCC),False,32,31,1,96.9,91.0,69.7,21.3,...,385,12.03,1.56,20.72,6.78,32.7,1.0,1.0,Automatic,2.0
1,2021,Baylor (Big 12),True,30,28,2,93.3,82.9,65.5,17.4,...,345,11.50,1.47,18.77,6.17,32.9,1.0,2.0,At-Large,1.0
2,2021,Winthrop (Big South),False,25,23,2,92.0,78.9,67.0,11.8,...,350,14.00,1.07,20.40,6.60,32.4,12.0,49.0,Automatic,64.0
3,2021,Houston (AAC),False,32,28,4,87.5,76.1,58.2,17.8,...,341,10.66,1.31,19.53,5.66,29.0,2.0,8.0,Automatic,4.0
4,2021,Colgate (Patriot),False,16,14,2,87.5,85.2,69.6,15.6,...,173,10.81,1.63,23.00,6.06,26.4,14.0,57.0,Automatic,64.0

In [6]:
full_stats.to_csv("./csv_files/NCAA_2020-21_All_Stats.csv")

In [7]:
comp_stats = full_stats[['Year','Team','Power 5 School','Placement','Seed','Berth type','Overall rank', 'Win Pct', 'SCR MAR', 'REB MAR', 'FG%','FT%', '3FG%', 'OPP FG%', 'OPP 3FG%','AST/TO Ratio']]
comp_stats.to_csv("./csv_files/NCAA 2020-21_Completed_Stats.csv",index=False)