In [8]:
import pandas as pd
seed_pm = pd.read_csv("./2013_csv_files/NCAA_Stats_2012-13_Placement.csv",encoding='cp1252')
seed_pm.head()

   Seed        Team   Conference Berth type  Overall rank  Placement
0     1      Kansas       Big 12  Automatic             2         16
1     2  Georgetown     Big East   At-large             7         64
2     3     Florida          SEC   At-large            10          8
3     4    Michigan      Big Ten   At-large            13          2
4     5         VCU  Atlantic 10   At-large            20         32

In [9]:
place = seed_pm
place['Conference']= seed_pm['Conference'].replace('American','AAC')
place['Conference']= seed_pm['Conference'].replace('Missouri Valley','MVC')
place['Conference']= seed_pm['Conference'].replace('Ohio Valley','OVC')
place['Conference']= seed_pm['Conference'].replace('Atlantic Sun','ASUN')
place['Conference']= seed_pm['Conference'].replace('Conference USA','C-USA')
place['Conference']= seed_pm['Conference'].replace('Southern','SoCon')
place['Conference']= seed_pm['Conference'].replace('West Coast','WCC')
place['Conference']= seed_pm['Conference'].replace('Colonial','CAA')
place['Conference']= seed_pm['Conference'].replace('Ivy','Ivy League')
place['Conference']= seed_pm['Conference'].replace('Summit','Summit League')
place['Conference']= seed_pm['Conference'].replace('Mid American','MAC')
place['Conference']= seed_pm['Conference'].replace('Pac–12','Pac-12')
place['Conference']= seed_pm['Conference'].replace('Northeast','NEC')
place['Conference']= seed_pm['Conference'].replace('Big East','AAC')
# Don't use this Big East line on any year sooner than 2013


place['Team']= seed_pm['Team'].replace('State','St.',regex = True)
place['Team']= seed_pm['Team'].replace('NC St.','NC State',regex = True)
place['Team']= seed_pm['Team'].replace('North Carolina St.','NC State')
place['Team']= seed_pm['Team'].replace('Stephen F. Austin','SFA')
place['Team']= seed_pm['Team'].replace('Loyola–Chicago','Loyola Chicago')
place['Team']= seed_pm['Team'].replace('LIU Brooklyn','LIU')
place['Team']= seed_pm['Team'].replace('North Carolina Central','N.C. Central')
place['Team']= seed_pm['Team'].replace('College of Charleston', 'Col. of Charleston')
place['Team']= seed_pm['Team'].replace('USC','Southern California')
place['Team']= seed_pm['Team'].replace('Middle Tennessee','Middle Tenn.')
place['Team']= seed_pm['Team'].replace('East Tennessee St.','ETSU')
place['Team']= seed_pm['Team'].replace('UNC Wilmington','UNCW')
place['Team']= seed_pm['Team'].replace("Saint Mary's","Saint Mary's (CA)")
place['Team']= seed_pm['Team'].replace("Florida Gulf Coast","FGCU")
place['Team']= seed_pm['Team'].replace("Northern Kentucky","Northern Ky.")
place['Team']= seed_pm['Team'].replace("Miami","Miami (FL)")
place['Team']= seed_pm['Team'].replace("Northern Iowa","UNI")
place['Team']= seed_pm['Team'].replace("Cal St. Bakersfield","CSU Bakersfield")
place['Team']= seed_pm['Team'].replace("Southern","Southern U.")
place['Team']= seed_pm['Team'].replace("Mississippi","Ole Miss")
place['Team']= seed_pm['Team'].replace("Albany","Albany (NY)")
place['Team']= seed_pm['Team'].replace("St. John's","St. John's (NY)")
place['Team']= seed_pm['Team'].replace('Eastern Washington','Eastern Wash.')
place['Team']= seed_pm['Team'].replace('Connecticut','UConn')
place['Team']= seed_pm['Team'].replace('Texas A&M–Corpus Christi','A&M-Corpus Christi')
place['Team']= seed_pm['Team'].replace('Western Michigan','Western Mich.')
place['Team']= seed_pm['Team'].replace('Eastern Kentucky','Eastern Ky.')
place['Team']= seed_pm['Team'].replace('Louisiana-Lafayette','Louisiana')
place['Team']= seed_pm['Team'].replace('Western Kentucky','Western Ky.')
place['Team']= seed_pm['Team'].replace('Long Island','LIU')
place['Team']= seed_pm['Team'].replace('North Carolina A&T','N.C. A&T')






place.head()

   Seed        Team   Conference Berth type  Overall rank  Placement
0     1      Kansas       Big 12  Automatic             2         16
1     2  Georgetown          AAC   At-large             7         64
2     3     Florida          SEC   At-large            10          8
3     4    Michigan      Big Ten   At-large            13          2
4     5         VCU  Atlantic 10   At-large            20         32

In [10]:
place["Team"]=place["Team"]+ " "+"(" + seed_pm["Conference"]+")"
place=place.drop(columns=["Conference"])

In [11]:
merged_stats= pd.read_csv("./2013_csv_files/NCAA_Merged_Statistics_2012-13.csv")
full_stats = merged_stats.merge(place,how= 'inner')

place[~place['Team'].isin(full_stats['Team'])]

Empty DataFrame
Columns: [Seed, Team, Berth type, Overall rank, Placement]
Index: []

In [12]:
all_stats= merged_stats.merge(place,how= 'outer')
all_stats = all_stats.fillna('DNP')

all_stats.to_csv('./2013_csv_files/NCAA_2012-13_All_Stats.csv')

In [13]:
complete_stats = all_stats[['Year','Team','Power 5 School','Placement','Seed','Berth type','Overall rank', 'Win Pct', 'SCR MAR', 'REB MAR', 'FG%','FT%', '3FG%', 'OPP FG%', 'OPP 3FG%','AST/TO Ratio']]
complete_stats.to_csv('./2013_csv_files/NCAA_2012-13_Completed_Stats.csv',index=False)